<div class="px-4">
    @switch (this.currentStep.id){
        @case(CATEGORY){
            <app-category-step [categoryName]="newListing.category"
                (categoryChange)="onCategoryChange($event)"
                (stepValidityChange)="onValidityChange($event)">
            </app-category-step>
        }
        <!-- @case (LOCATION) {
            <app-location-step [location]="newListing.location"
                               (locationChange)="onLocationChange($event)"
                               (stepValidityChange)="onValidityChange($event)">
      
            </app-location-step>
        } -->
    
    }
</div>
<app-footer-step [currentStep]="currentStep"
    [loading]="loadingCreation"
    [isAllStepsValid]="isAllStepsValid()"
    (finish)="createListing()"
    (previous)="previousStep()"
    (next)="nextStep()">
</app-footer-step>